<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato:wght@100;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Week-06/css/reset.css">
    <link rel="stylesheet" href="../../Week-06/css/common.css">
    <link rel="stylesheet" href="../../Week-06/css/header.css">
    <link rel="stylesheet" href="../../Week-06/css/footer.css">
    <link rel="stylesheet" href="../../Week-06/css/login.css">
    <script src="../js/login.js" defer></script>
    <title>Mega Rocket Login</title>
    <link rel="mega-icon" href="../../Assets/Images/logo-mega.png" type="image/png">
</head>
<body>
    <header>
        <div class="container-header-logo">
            <a href="../views/index.html">
                <img class="logo-mega" src="../../Assets/Images/logo-mega.png" alt="logo Mega Rocket"/>
            </a>
                <h1>MEGA ROCKET S.A.</h1>
        </div>
        <div class="container-login-signup">
            <button class="hamburger-menu">
                <img src="../../Assets/Images/hamburguesa.png" alt="hamburger menu">
            </button>
            <a href="../views/sign-up.html">
                SIGN UP
                <img src="../../Assets/Images/signup-button.png" alt="sign up">
            </a>
        </div>
    </header>
    <main class="main-login">
        <aside>
            <nav>
                <ul>
                    <div class="login-signup-side">
                        <li>
                            <a href="./index.html">
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="./sign-up.html">
                                SIGN UP
                            </a>
                        </li>
                    </div>
                </ul>
                <div class="data-side">
                    <div>
                        <img src="../../Assets/Images/ubicacion.png" alt="location">
                        <p>Av. Pellegrini  3535</p>
                    </div>
                    <div>
                        <img src="../../Assets/Images/telefono.png" alt="phone">
                        <p>+464 206 96</p>
                    </div>
                </div>
            </nav>
        </aside>
        <form class="form-login">
            <h2>LOG IN</h2>
            <div class="label-input-container">
                <label for="email">E-mail:</label>
                <input id="email" type="text" name="email" placeholder="example@gmail.com">
            </div>
            <div class="label-input-container">
                <label for="password">Password:</label>
                <input id="password" type="password" placeholder="●●●●●●●●">
            </div>
            <input id="button-login" class="button-accept" type="button" value="LOG IN">
        </form>
    </main>
    <footer>
        <a href="#" target="_blank">
            <img src="../../Assets/Images/instagram.png" alt="instagram">
            @rocketgym
        </a>
        <a href="tel:+34678567876">
            <img src="../../Assets/Images/whatsapp.png" alt="whatsapp">
            +1 408 741 2369
        </a>
        <a href="#" target="_blank">
            <img src="../../Assets/Images/facebook.png" alt="facebook">
            Mega Rocket Gym
        </a>
        <p>
            MEGA ROCKET SA
            <span>All rights reserved. 2023 ©</span>
        </p>
    </footer>
</body>
</html>