body {
    font-family: 'Roboto', sans-serif;
}

.container-header {
    background-color: #323232;
    width: 1512px;
    height: 188px;
}

.container-logo {
    position: relative;
    top: 30px;
    left: 40px;
    width: 400px;
}

.container-logo img {
    position: relative;
    left: 130px;
    width: 102px;
    height: 95px;
}

.container-logo h1 {
    color: #E3EC39;
    font-size: 45px;
}

.container-button {
    position: relative;
    float: right;
    bottom: 80px;
    right: 30px;
}

.container-button .login-signup {
    width: 158px;
    height: 76px;
    border-radius: 5%;
    font-family: 'Roboto';
    font-size: 20px;
    margin: 0 10px;
}

.container-button .login-signup img {
    width: 25px;
    height: 25px;
}

/* aca empieza la sidebar */

.sidebar {
    position: absolute;
    background-color: #E3EC39;
    width: 336px;
    height: 5903px;
}

.sidebar nav ul li {
    position: relative;
    top: 100px;
    text-align: center;
    padding: 30px;
}

.sidebar nav ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

/* a partir de aca main */

.container-main {
    margin-left: 336px;
    height: 864px;
}

/* empieza home */

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/inicio.png");
}

.title-home {
    color: #ffffff;
    font-size: 100px;
    text-shadow: #000000 6px 2px 1px;
    margin-left: 200px;
    padding-top: 100px;
}

.title-home span {
    color:#E3EC39;
    position: absolute;
    margin-top: 110px;
}

