<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container-header-logo">
            <img src="../Assets/Images/logo-mega.png" alt="logo Mega Rocket"/>
            <h1>MEGA ROCKET S.A.</h1>
        </div>
        <div class="container-login-signup">
            <button class="hamburger-menu">
                <img src="../Assets/Images/hamburguesa.png" alt="hamburger menu">
            </button>
            <a href="../views/login.html">
                LOGIN
                <img src="../Assets/Images/login-button.png" alt="login">
            </a>
            <a href="../views/sign-up.html">
                SIGN UP
                <img src="../Assets/Images/signup-button.png" alt="sign up">
            </a>
        </div>
    </header>
</body>
</html>