<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato:wght@100;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Week-06/css/reset.css">
    <link rel="stylesheet" href="../../Week-06/css/common.css">
    <link rel="stylesheet" href="../../Week-06/css/header.css">
    <link rel="stylesheet" href="../../Week-06/css/footer.css">
    <link rel="stylesheet" href="../../Week-06/css/sign-up.css">
    <script src="../js/sign-up.js" defer></script>
    <title>Mega Rocket Sign Up</title>
    <link rel="mega-icon" href="../../Assets/Images/logo-mega.png" type="image/png">
</head>
<body>
    <header>
        <div class="container-header-logo">
            <a href="../views/index.html">
                <img src="../../Assets/Images/logo-mega.png" alt="logo Mega Rocket"/>
            </a>
            <h1>MEGA ROCKET S.A.</h1>
        </div>
        <div class="container-login-signup">
            <button class="hamburger-menu">
                <img src="../../Assets/Images/hamburguesa.png" alt="hamburger menu">
            </button>
            <a href="../views/login.html">
                LOGIN
                <img src="../../Assets/Images/login-button.png" alt="login">
            </a>
        </div>
    </header>
    <main class="main-signup">
        <aside>
            <nav>
                <ul>
                    <div class="login-signup-side">
                        <li>
                            <a href="./index.html">
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="./login.html">
                                LOG IN
                            </a>
                        </li>
                    </div>
                </ul>
                <div class="data-side">
                    <div>
                        <img src="../../Assets/Images/ubicacion.png" alt="location">
                        <p>Av. Pellegrini  3535</p>
                    </div>
                    <div>
                        <img src="../../Assets/Images/telefono.png" alt="phone">
                        <p>+464 206 96</p>
                    </div>
                </div>
            </nav>
        </aside>
        <form class="form-signup">
            <h2>SIGN-UP</h2>
            <div>
                <label for="name">Name</label>
                <input id="name" type="text" name="name">
            </div>
            <div>
                <label for="surname">Last Name</label>
                <input id="surname" type="text" name="surname">
            </div>
            <div>
                <label for="dni">DNI</label>
                <input id="dni" type="text" name="dni">
            </div>
            <div>
                <label for="dateOfBirth">Date of Birth</label>
                <input id="dateOfBirth" type="date" name="dateOfBirth">
            </div>
            <div>
                <label for="phone">Phone Number</label>
                <input id="phone" type="text" name="phone">
            </div>
            <div>
                <label for="adress">Adress</label>
                <input id="adress" type="text" name="adress">
            </div>
            <div>
                <label for="city">City</label>
                <input id="city" type="text" name="city">
            </div>
            <div>
                <label for="zipCode">Zip Code</label>
                <input id="zipCode" type="text" name="zipCode">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input id="email" type="text" name="email">
            </div>
            <div>
                <label>Password</label>
                <input id="password" type="password">
            </div>
            <div>
                <label>Repeat Password</label>
                <input id="repeatPassword" type="password">
            </div>
            <div>
                <input id="button-signup" type="button" class="button-accept" value="SIGN UP">
            </div>
        </form>
    </main>
    <footer>
        <a href="#" target="_blank">
            <img src="../../Assets/Images/instagram.png" alt="instagram">
            @rocketgym
        </a>
        <a href="tel:+34678567876">
            <img src="../../Assets/Images/whatsapp.png" alt="whatsapp">
            +1 408 741 2369
        </a>
        <a href="#" target="_blank">
            <img src="../../Assets/Images/facebook.png" alt="facebook">
            Mega Rocket Gym
        </a>
        <p>
            MEGA ROCKET SA
            <span>All rights reserved. 2023 ©</span>
        </p>
    </footer>
</body>
</html>